@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

.hero {
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg-hero-desktop.svg);
    background-color: var(--very-pale-cyan);
}

.huddle {
    display: flex;
    justify-content: space-between;
}

.huddle img {
    margin: 30px 0 30px 30px;
}


.button {
    width: 150px;
    height: 35px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: none;
    margin-right: 30px;
    margin-top: 30px;
    background-color: white;
    font-weight: 600;
}

    .logo-left{
    float: left;
    width: 50%;
    padding: 30px;
    padding-top: 8%;
}

.logo-left p {
    font-size: 15px;
    font-weight: 300;
}

.logo-left h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

.illustration {
    width: 500px;
    margin-left: 20px;
}

.button-pink {
    width: 200px;
    height: 30px;
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 20px;
}

.main h3,
.main p {
    font-family: 'Open Sans', sans-serif;
}

.grow,
.flowing,
.users {
    margin: 80px;
}

.grow h3,
.flowing h3,
.users h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 80px;
    padding-bottom: 10px;
}


.grow p,
.flowing p,
.users p {
    color: var(--grayish-blue);

}

.grow,
.flowing,
.users {
    border: 1px solid lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px 50px 0px 20px;

}

.grow p {
    float: left;
    width: 50%;
}

.grow img,
.flowing img,
.users img {
    width: 300px;
    margin-left: 150px;
    margin-top: -120px;
    padding-bottom: 30px;
    padding-top: 30px;
}

