@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root{
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark--cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --main-bg: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
}

.cta{
    border-radius: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    display: inline-block;
}

.cta--1{
    background-color: var(--white);
    padding: 0.3125em 1.5625em;
    color: var(--very-dark--cyan);
    text-align: center;
    transition: opacity 0.4s ease;
}

.cta--1:hover,
.cta--2:hover{
    opacity: 0.7;
}

.cta--2{
    background-color: var(--pink);
    color: var(--white);
    width: 15.625em;
    padding: 0.9375em 0;
    margin: 0 auto;
    text-align: center;
    transition: opacity 0.4s ease;
}

.container{
    width: 90%;
    max-width: 87.5rem;
    margin: 0 auto;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
    border-radius: 0.9375rem;
    padding: 3em 1.875em 1.875em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--white);
}

.texts{
    text-align: center;
    order: 1;
}

.title{
    font-size: 1.25rem;
    margin-bottom: 0.8em;
    color: var(--very-dark--cyan);
    font-family: var(--heading-font);
}

.text{
    font-size: 0.875rem;
    color: var(--grayish-blue);
    line-height: 1.6;
}

.picture{
    width: 90%;
    max-width: 25rem;
    margin: 0 auto;
}

.image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/*header section*/

.header{
    background-color: var(--very-pale-cyan);
    background-image: url(../images/bg-hero-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header__container{
    width: 90%;
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 1.875em 0;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 7.5rem;
}

.header__logoimg{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.header__main{
    margin-top: 5em;
}

.header__texts{
    text-align: center;
    color: var(--very-dark--cyan);
}

.header__heading{
    font-size: 1.75rem;
    margin-bottom: 1em;
    font-family: var(--heading-font);
}

.header__paragraph{
    line-height: 1.6;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.header__picture{
    width: 90%;
    max-width: 25rem;
    margin: 3em auto 0;
}

.header__img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* main section */

.main{
    background-color: var(--main-bg);
    padding-top: 5em;
}

.started{
    padding: 3em 1em 2em;
    position: relative;
    width: 90%;
    max-width: 37.5rem;
    background-color: var(--white);
    margin: 7.5em auto 0;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 10%);
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

.started__heading{
    font-size: 1.125rem;
    color: var(--very-dark--cyan);
    font-family: var(--heading-font);
}

/*footer section */

.footer{
    background-color: var(--very-dark--cyan);
    margin-top: -5em;
    padding: 8.125em 0 2em;
}

.footer__container{
    width: 90%;
    max-width: 87.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    color: var(--white);
    font-size: 0.875rem;
}

.footer__picture{
    width: 9.375rem;
}

.footer__img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin-bottom: 2.5em;
}

.footer__location,
.footer__phone,
.footer__email{
    display: flex;
    gap: 1.25em;
}

.footer__divicon{
    min-width: 1.125rem;
    margin-top: 0.3125em;
}

.footer__icon{
    display: block;
}

.footer__text{
    line-height: 1.6;
}

.footer__nav{
    display: flex;
    flex-direction: column;
}

.footer__navlink{
    margin-bottom: 1.25em;
    text-decoration: none;
    color: var(--white);
}

.footer__navlink:hover{
    text-decoration: underline;
}

.footer__social{
    padding-top: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
}

.footer__socialink{
    border: 1px solid var(--white);
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    transition: color .4s ease;
}

.footer__socialink:hover{
    color: var(--pink);
}

.footer__copy{
    text-align: center;
    font-size: 0.75rem;
}


/* media queries */

@media (min-width: 1000px){

    .cta{
        font-size: 1rem;
    }

    .cta--1{
        width: 10rem;
    }

    .container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }

    .texts{
        width: 35%;
        text-align: left;
    }

    .picture{
        width: 60%;
        margin: 0;
    }

    .header{
        background-image: url(../images/bg-hero-desktop.svg);
    }

    .header__container{
        padding: 2.5em 0;
    }

    .header__logo{
        width: 9.375rem;
    }

    .header__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__texts{
        width: 35%;
        text-align: left;
    }

    .header__heading{
        font-size: 1.875rem;
    }

    .header__paragraph{
        width: 100%;
    }

    .header__picture{
        width: 60%;
        max-width: 40.625rem;
        margin: 0;
    }

    .grow__texts{
        order: 0;
    }

    .users__texts{
        order: 0;
    }

    .footer{
        padding-bottom: 3em;
    }

    .footer__container{
        font-size: 1rem;
    }

    .footer__info{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__contact{
        width: 30%;
        margin: 0;
    }

    .footer__social{
        padding: 0;
    }

    .footer__copy{
        margin-left: auto;
        font-size: 0.875rem;
    }
}
